body {
    font-family: "Open Sans", sans-serif;
  }
  
  .container {
    margin: 0 auto;
    max-width: 90%;
  }
  
  h1 {
    text-align: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  img {
    width: 60px;
  }
  
  .controls {
    margin: 10px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    background-color: #006400;
    color: white;
    padding: 10px;
  }
  
  td {
    padding: 10px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  